@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap");

:root {
    --color-principal: #1893d4;
}

/* ESTILOS GENERALES */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(241, 239, 239);
    font-family: "Poppins", sans-serif;
}

img {
    width: 100%;
    height: 100%;
}

/* ESTILOS HEADER */

.toggle-menu {
    width: 40px;
    position: fixed;
    top: 0.5rem;
    right: 1.5rem;
    cursor: pointer;
    z-index: 2;
}

@media screen and (min-width: 1000px) {
    .toggle-menu {
        display: none;
    }
}

.main-menu {
    position: fixed;
    z-index: 1;
    width: 100%;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-principal);
    transform: translateY(-100%);
    transition: transform 0.3s;
}

.main-menu-show {
    transform: translateY(0);
}

@media screen and (min-width: 1000px) {
    .main-menu {
        position: static;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        font-size: 1rem;
        transform: translateY(0); /* En escritorio el menú se muestra */
    }
}

.main-menu-item {
    padding: 1em;
}

.main-menu-link {
    color: white;
    text-decoration: none;
}

@media screen and (min-width: 1000px) {
    .main-menu-link {
        color: #000;
        font-size: 1.5rem;
    }
}

/* ESTILOS MAIN CONTAINER*/

/* ESTILOS INTRODUCTION SECTION */
.introduction {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.introductionText {
    font-size: 1.8rem;
    height: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.introductionText h1 {
    margin: -30px 0px;
}

.textAnimatedContainer {
    width: 100%;
    height: 15%;
}

.textAnimated {
    color: var(--color-principal);
}

.introductionImage {
    height: 50%;
    width: 80%;
}

@media screen and (min-width: 1001px) {
    .introduction {
        flex-direction: row;
        justify-content: center;
    }
    
    .introductionText {
        font-size: 2rem;
        width: 45%;
        align-items: center;
    }
    
    .textAnimatedContainer {
        width: 100%;
        height: initial;
    }

    .introductionImage {
        width: 55%;
    }
}


/* ESTILOS ABOUT ME SECTION */
.aboutMe {
    width: 100%;
    height: 100%;
}

.aboutMeCard {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutMeText {
    width: 100%;
    order: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.aboutMeText p {
    margin: 10px;
    font-size: 1.3rem;
}

.principalText {
    line-height: 1.2em;
}

.skillsImg {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skillsImg img {
    width: 33%;
}

.aboutMeImgContainer {
    width: 50%;
}

.aboutMeImgContainer img {
    border-radius: 5px;
    padding: 10px 0px;
}

@media screen and (min-width: 1001px) {
    .aboutMe {
        width: 100%;
        height: 100%;
        padding: 3em;
    }
    
    .aboutMeCard {
        width: 100%;
        height: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: auto;
    }
    
    .aboutMeText {
        width: 50%;
        order: initial;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .aboutMeText p {
        margin: 10px;
        font-size: 1.3rem;
    }

    .skillsImg {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .skillsImg img {
        width: 16.6%;
    }
    
    .aboutMeImgContainer {
        width: 35%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .aboutMeImgContainer img {
        margin: auto;
        width: 70%;
        border-radius: 30px;
        padding: 10px 0px;
    }
}


/* STYLES PROJECTS SECTION */
.projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerCards {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectCard {
    width: 80%;
    margin: 20px 0;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 8px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 8px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 8px 0px rgba(0,0,0,0.75);
}

.projectCardText {
    width: 90%;
    padding: 10px;
}

@media screen and (min-width: 1001px) {
    .projects {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .containerCards {
        width: 100%;
        display: grid;
        grid-template-columns: 40% 40%;
        column-gap: 10%;
    }
    
    .projectCard {
        width: 100%;
        margin: 20px 0;
        border: 1px solid black;
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 10px 10px 8px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 8px 0px rgba(0,0,0,0.75);
    }

    .projectCard img {
        width: 60%;
    }
}

/* STYLES FOOTER */
.footer {
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: rgb(218, 218, 218);
    font-weight: 600;
}

.footerImg {
    margin: auto;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerImg img {
    width: 3rem;
}


